/* Universal selector */
*,
*::after,
*::before { 
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*this give us a 10px value because the default value is 16px */
}

body {
  box-sizing: border-box;
}